.about-app {
	width: 400px;
	height: 500px;
}

.about-app .window-content {
	overflow: auto;
	background: rgba(255, 255, 255, 0.9);
}

.about-app a {
	color: #000000;
}

.about-app h1, .about-app h2 {
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	max-width: 75%;
	margin-top: 10px;
}

.about-app h3 {
	margin-top: 5px;
}

.about-app .about-copyright {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.6);
}