.chat-app {
	width: 400px;
	height: 200px;
}

.chat-app .window-content {
	background: rgba(255,255,255,0.95);
	position: relative;
}

.chat-app .chat-form {
	bottom: 3px;
	height: 30px;
	width: 100%;
	position: absolute;
	border-top: 1px solid rgba(0,0,0,0.3);
}

.chat-app .chat-form .chat-inputField {
	width: calc(100% - 50px);
	height: 28px;
}

.chat-app .chat-message-list {
	height: calc(100% - 30px);
	overflow: auto;
}

.chat-app .chat-message-list ul {
	padding-left: 5px;
	padding-bottom: 5px;
}

.chat-app .chat-message-list ul li {
	padding-top: 5px;
}

.chat-offline {
	color: red;
}

.chat-connecting {
	color: orange;
}

.chat-online {
	color: green;
}

.chat-tooltip-time{
	display: none;
	padding: 2px;
	margin-top: 3px;
	float: left;
	font-size: 9px;
	color: #333;
}

.chat-app li .chat-username:hover .chat-tooltip-time {
	display: block;
	cursor: default;
}

.chat-app .chat-username {
	cursor: default;
}

.chat-app .chat-message {
	user-select: initial;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
}