.chat-app {
	width: 400px;
	/* debug height: height: 200px;*/
	height: 500px;
}

.chat-app .window-content {
	background: rgba(255,255,255,0.95);
	position: relative;
}

.chat-app .chat-form {
	bottom: 3px;
	height: 30px;
	width: 100%;
	position: absolute;
	border-top: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.95);
}

.chat-app .chat-form .chat-inputField {
	width: calc(100% - 50px);
	height: 28px;
}

.chat-app .chat-message-list {
	height: calc(100% - 30px);
	overflow: auto;
}

.chat-app .chat-message-list ul {
	padding-bottom: 5px;
}

.chat-app .chat-message-list ul li {
	padding-top: 5px;
	display: block;
}

.chat-offline {
	color: red;
}

.chat-connecting {
	color: orange;
}

.chat-online {
	color: green;
}

.chat-app .chat-tooltip-time{
	display: none;
	padding: 2px;
	font-size: 9px;
	color: #333;
}

.chat-bubble-me .chat-tooltip-time {
	margin-top: -17px;
}

.chat-app li .chat-message-line:hover .chat-tooltip-time {
	display: block;
	cursor: default;
}

.chat-app .chat-username {
	cursor: default;
	font-weight: bold;
	overflow: visible;
}

.chat-app .chat-message {
	user-select: initial;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
}

.window .chat-settings {
	width: 300px;
	height: 200px;
}

.window .chat-settings .settings-form {
	text-align: right;
	display: block;
	padding: 10px;
	padding-top: 15px;
	padding-right: 20px;
	margin-top: 10px;
}

.window .chat-settings .settings-form input[type="button"] {
	margin-right: 5px;
	margin-top: 10px;
}

.chat-app .chat-bubble-me {
	text-align: right;
	width: 100%;
	overflow: visible;
}

.chat-app .chat-bubble {
	overflow: visible;
}

.chat-app .chat-message-line {
	display: inline-block;
	overflow: visible;
	text-align: left;
	padding: 5px;
	max-width: 65%;
}

.chat-app .chat-bubble .chat-message-line {
	background: #7fc2df;
	border-radius: 8px;
	margin-left: 3px;
}

.chat-app .chat-bubble-me .chat-message-line {
	background: #86e47c;
	border-radius: 8px;
	margin-right: 3px;
}

.chat-app .chat-bubble::after {
	display:block;
	content: "";
	background: url(../image/chat-bubble-speak.png);
	background-size: 20px 10px;
	height: 10px;
	width: 20px;
	margin-top: -5px;
}

.chat-app .chat-bubble-me::after {
	display:block;
	content: "";
	background: url(../image/chat-bubble-me-speak.png);
	background-size: 20px 10px;
	height: 10px;
	width: 20px;
	margin-top: -5px;
	margin-left: calc(100% - 20px);
}

.chat-app .chat-history-separator {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-size: 12px;
}