body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #101014;
  padding: 0;
  margin: 0;
}

.gameboy-main {
  width: 239px;
  height: 400px;
  background-color: #f5001e;
  margin: 0 auto;
  border-radius: 9px 9px 15px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 1s;
  transform-origin: 50% -3%;
  transform: scale(1);
}

.lower-round {
  width: 100%;
  height: 53px;
  border-radius: 100%;
  background-color: #f5001e;
  position: relative;
  top: 362px;
}

.back-screen {
  width: 89%;
  height: 192px;
  border-radius: 5px 5px 15px 15px;
  background-color: #210d12;
  position: relative;
  bottom: 347px;
  left: 13px;
  box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.back-screen-round {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 29%;
  background-color: green;
}

.front-screen {
  width: 64%;
  height: 65%;
  border-radius: 3px;
  background-color: #D1D1D1;
  position: relative;
  left: 38px;
  top: 23px;
  box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.6);
}

.power-led {
  width: 5px;
  height: 5px;
  background-color: red;
  opacity: 0.2;
  transition: all 0.3s;
  position: relative;
  bottom: 66px;
  left: 7px;
  border-radius: 100%;
}

.power-led-mark {
  width: 8px;
  height: 8px;
  position: relative;
  background-color: white;
  border-radius: 100%;
  left: 10px;
  z-index: 5;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.power-led-mark-out {
  width: 18px;
  height: 18px;
  position: relative;
  background-color: #210d12;
  border-radius: 100%;
  right: 12px;
  bottom: 5px;
  z-index: 5;
}

.mark-container {
  display: flex;
  position: relative;
  bottom: 72px;
  left: 2px;
}

.mark-container div:nth-child(2) {
  z-index: 4;
  margin-left: -3px;
}

.mark-container div:nth-child(3) {
  z-index: 3;
  margin-left: -3px;
}

.power {
  color: white;
  font-size: 0.4em;
  position: relative;
  bottom: 77px;
  left: 6px;
}

.poweron-led {
  opacity: 1;
}

.game-boy {
  font-weight: bold;
  color: #696B6B;
  text-align: center;
  position: relative;
  bottom: 15px;
  font-size: 1em;
}

.gaemboy-less-space {
  letter-spacing: -1px;
}

.nintendo {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 70px;
  position: relative;
  text-align: center;
  bottom: 332px;
  left: 83px;
  font-size: 0.65em;
  font-weight: bold;
  padding: 1px;
  height: 15px;
  border-radius: 7px;
}

.nintendo p {
  position: relative;
  bottom: 8px;
  color: rgba(0, 0, 0, 0.3);
}

.a-button {
  position: relative;
  width: 29px;
  height: 29px;
  background-color: #120305;
  border-radius: 100%;
  text-align: center;
  bottom: 336px;
  left: 192px;
  box-shadow: 2px 2px 0px 0px rgba(160, 0, 20, 1),
  inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.1s;
}

.a-button-no-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5),
  inset 0px 0px 3px 2px rgba(0, 0, 0, 0.20);
  transition: all 0.1s;
}

.a-button p {
  font-weight: bolder;
  position: relative;
  top: 6px;
  right: 3px;
  transition: all 0.1s;
  color: rgba(87, 71, 71, 0.55);
}

.b-button {
  position: relative;
  width: 29px;
  height: 29px;
  background-color: #120305;
  border-radius: 100%;
  text-align: center;
  bottom: 367px;
  left: 147px;
  box-shadow: 2px 2px 0px 0px rgba(160, 0, 20, 1),
  inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.1s;
}

.b-button-no-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5),
  inset 0px 0px 3px 2px rgba(0, 0, 0, 0.20);
  transition: all 0.1s;
}

.b-button p {
  font-weight: bolder;
  position: relative;
  top: 6px;
  right: 3px;
  color: rgba(87, 71, 71, 0.55);
}

.controller-container {
  width: 62px;
  height: 62px;
  position: relative;
  bottom: 418px;
  left: 18px;
}

.left-right-btn {
  width: 100%;
  height: 22px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  background-color: #120305;
  transition: all 0.1s;
}

.left-right-btn-fix {
  width: 100%;
  height: 22px;
  border-radius: 5px;
  position: relative;
  bottom: 164px;
  z-index: 0;
  background-color: #120305;
}

.left-right-btn-no-shadow-one {
  transition: all 0.1s;
  box-shadow: 1.5px 1px 0px 0px rgba(255, 255, 255, 1);
}

.left-right-btn-no-shadow-two {
  transition: all 0.1s;
  box-shadow: 0px 0px 0px 0px rgba(160, 0, 20, 1);
}

.right-part {
  width: 28px;
  height: 22px;
  position: relative;
  bottom: 87px;
  left: 33px;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 3px 3px 0px 0px rgba(160, 0, 20, 1);
  transition: all 0.1s;
}

.left-part {
  width: 28px;
  height: 22px;
  position: relative;
  bottom: 65px;
  right: 2px;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 3px 3px 0px 0px rgba(160, 0, 20, 1);
  transition: all 0.1s;
}

.up-part {
  width: 24px;
  height: 28px;
  position: relative;
  bottom: 129px;
  left: 16px;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 4px 3px 0px 0px rgba(160, 0, 20, 1);
  transition: all 0.1s;
}

.down-part {
  width: 23px;
  height: 28px;
  position: relative;
  bottom: 123px;
  left: 19px;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 2px 3px 0px 0px rgba(160, 0, 20, 1);
  transition: all 0.1s;
}

.up-down-btn {
  width: 22px;
  height: 100%;
  position: relative;
  background-color: #120305;
  bottom: 22px;
  z-index: 1;
  left: 20px;
  border-radius: 5px;
  transition: all 0.1s;
}

.up-down-btn-no-shadow-one {
  transition: all 0.1s;
  box-shadow: 0px 3px 0px 0px rgba(160, 0, 20, 1);
}

.up-down-btn-no-shadow-two {
  transition: all 0.1s;
  box-shadow: 0px 0px 0px 0px rgba(160, 0, 20, 1);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid rgba(87, 71, 71, 0.55);
  position: relative;
  left: 4px;
  top: 4px;
  z-index: 1;
  transition: all 0.1s;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid rgba(87, 71, 71, 0.55);
  opacity: 0.85;
  position: relative;
  left: 47px;
  bottom: 10px;
  z-index: 1;
  transition: all 0.1s;
}

.round-middle {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  background-color: rgba(87, 71, 71, 0.22);
  opacity: 0.85;
  position: relative;
  left: 4px;
  top: 15px;
  z-index: 1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid rgba(87, 71, 71, 0.55);
  transition: all 0.1s;
  opacity: 0.85;
  position: relative;
  top: 4px;
  left: 4px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgba(87, 71, 71, 0.55);
  transition: all 0.1s;
  opacity: 0.85;
  position: relative;
  top: 25px;
  left: 4px;
}

.start {
  width: 19px;
  height: 7px;
  background-color: #120305;
  position: relative;
  bottom: 384px;
  left: 129px;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.35);
}

.start-button-no-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5),
  inset 0px 0px 3px 2px rgba(0, 0, 0, 0.20);
  transition: all 0.1s;
}

.select {
  width: 19px;
  height: 7px;
  background-color: #120305;
  position: relative;
  bottom: 391px;
  left: 93px;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.35);
}

.start-select-container {
  width: 90px;
  height: 12px;
  position: relative;
  bottom: 393px;
  left: 75px;
}

.start-select-space {
  margin: 5px;
}

.start-select-container p {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 0.55em;
}

.speaker-container {
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 425px;
  left: 172px;
  transform: skewY(-8deg);
  overflow: hidden;
}

.color-set {
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: -1px;
  color: #A1073D;
  font-size: 1.2em;
}

.purple {
  color: #5E4992;
}

.green {
  color: #6E9632;
}

.yellow {
  color: #AA8D04;
}

.blue {
  color: #157985;
}
