@import url(https://fonts.googleapis.com/css?family=Muli);

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Muli', sans-serif;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

*:focus {
	outline: none;
}

body {
	background: url(../image/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

.window {
	width: 250px;
	height: 300px;
	position: absolute;
	border: 1px solid #f47023;
	box-shadow: 0px 0px 16px 7px rgba(0,0,0,0.18);
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.window .window-top {
	width: 100%;
	height: 30px;
	background: #ccc;
}

.window .window-icon {
	margin-top: 3px;
}

.window .window-title {
	line-height: 30px;
	position: absolute;
	top: 2px;
	font-family: 'Muli', sans-serif;
}

.window .window-menu {
	width: 100%;
	height: 20px;
	background: #dde6f4;
	border-bottom: 1px solid #e2ebf8;
}

.window .window-menu a {
	cursor: pointer;
	font-size: 12px;
	padding: 5px;
}

.window .window-menu a:hover {
	background: rgba(25,121,202,0.9);
	color: rgba(255,255,255,0.9);
}

.window .menu-info {
	float:right;
	padding-right: 5px;
}

.window .window-content {
	position: relative;
	background: black;
	height: calc(100% - 51px);
}

.window .settings-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.7);
	z-index: 999;
}

.window .settings {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.window .settings-form {
	background: rgba(0,0,0,0.7);
	border: 1px solid #f47023;
	color: #ffffff;
}

.window .window-buttons {
	float: right;
	opacity: 0.7;
}

.window:focus {
	z-index: 999;
}

.window:focus .window-top, .focused-window .window-top{
	background: #d0e1f8;
}

.window:focus .window-buttons {
	opacity: 1;
}

.button {
	float: right;
	width: 45px;
	height: 30px;
	text-align: center;
	color: rgba(0,0,0,0.8);
	padding-top: 5px;
}

.exit-button:hover {
	background: red;
	transition: all 0.5s;
	cursor: pointer;
	color: rgba(255,255,255,0.8);
}


.minimize-button:hover, .maximize-button:hover {
	background: #e5e5e5;
	transition: background 0.5s;
	cursor: pointer;
	color: rgba(0,0,0,0.9);
}

.exit-cross, .minimize-icon, .maximize-icon {
	pointer-events: none;
}

.minimize-icon {
	margin-top: 15px;
}

.moving {
	opacity: 0.6;
	cursor: move;
}

.minimized {
	opacity: 0 !important;
}

.maximized {
	width: calc(100% - 2px) !important;
	height: calc(100% - 42px) !important;
	transition: width 0.2s ease-in-out, height 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.reset-window {
	transition: width 0.15s ease-in-out, height 0.15s ease-in-out, left 0.15s ease-in-out, top 0.15s ease-in-out;
}

.launcher {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: rgba(0,0,0,0.85);
	z-index: 99999999;
	overflow: visible;
}

.launcher ul {
	overflow: visible;
}

.launcher li {
	height: 40px;
	width: 50px;
	display: inline-block;
	text-align: center;
	color: #ffffff;
	overflow: visible;
}

.launcher li i {
	padding-top: 5px;
}

.launcher li:hover {
	cursor: pointer;
	background: rgba(255,255,255,0.1);
	transition: all 0.5s;
}

.launcher li:hover .launch-icon {
	color: #f47023;
}

.tooltip-container {
	overflow: hidden;
	position: absolute;
	bottom: 40px;
	padding-bottom: 5px;
}

.tooltip-close {
	display: none;
}

.launcher li:hover .tooltip-container .tooltip, .launcher li:hover .tooltip-container .tooltip-title,
.launcher li:hover .tooltip-container .tooltip-close {
	display: block;
}

.tooltip, .tooltip-title, .tooltip-close {
	display: none;
	padding: 5px;
	z-index: 1000;
	text-shadow: 1px 1px rgba(0,0,0,0.6);
}

.tooltip-line {
	background: rgba(0,0,0,0.5);
	width: 100%;
}

.tooltip-title {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.tooltip-close {
	margin-left: 0;
	height: 20px;
	overflow: hidden;
}

.tooltip-close:hover {
	background: rgba(232,17,35,0.8);
}

.tooltip-title:hover {
	cursor: default;
}

.tooltip:hover {
	background: rgba(255,255,255,0.2);
}

.tooltip-line::after {
	content: "";
	clear: both;
	display: block;
}


.material-icons.md-13 { font-size: 13px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }

.no-pointer {
	pointer-events: none;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.button-label {
	width: 100%;
	text-align: center;
}

.resize-icon {
	transform: scale(-1, -1);
}