* {
	margin: 0;
	padding: 0;
}

.window {
	width: 250px;
	height: 300px;
	background: black;
	position: absolute;
	border: 3px solid red;
}

.window .window-top {
	width: 100%;
	height: 25px;
	background: blue;
}

.window .window-menu {
	width: 100%;
	height: 20px;
	background: white;
}

.focus {
	z-index: 999;
}